<div style="background-color: #888; display:flex; justify-content: space-between; align-content:center;">
  <div style="display:flex; flex-direction: column;">
    <h2 style="margin: 2px;">{{title}}</h2>
    <a style="margin:2px;" href="https://github.com/krystalmonolith/bvhrect-demo">https://github.com/krystalmonolith/bvhrect-demo</a>
  </div>
  <p style="font-weight: bold; text-align: center;">v1.1.2<br/>20161210</p>
  <p style="font-weight: bold;">Click graphic to pause.</p>
  <p style="font-weight: bold;">Ctrl-Click to single step.</p>
  <p style="font-weight: bold;">Ctrl-Shift-Click to reset.</p>
  <p style="font-weight: bold;"><a style="margin: 2px;" href="https://en.wikipedia.org/wiki/Bounding_volume_hierarchy">What is a BVH?</a></p>
</div>
<app-bvh-canvas></app-bvh-canvas>
