<div style="background-color: #888; display:flex; justify-content: space-between; align-content:center;">
  <h2 style="margin: 5px;">{{title}}</h2>
  <p>Click graphic to pause.</p><p>Ctrl-Click to single step.</p><p> Ctrl-Shift-Click to reset.</p>
  <a style="margin:5px;" href="https://en.wikipedia.org/wiki/Bounding_volume_hierarchy">What is a BVH?</a>
  <a style="margin:5px;" href="https://github.com/krystalmonolith/bvhrect-demo">https://github.com/krystalmonolith/bvhrect-demo</a>
</div>
<app-bvh-canvas></app-bvh-canvas>
