canvas { // PREREQUSITE: Parent element must be "position: relative;"
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
